/******************************************\
|**********   FOR EXAMPLE ONLY   **********|
\******************************************/

/* Variables
 * Need to replace before production for IE 
 */
:root {
  /* Colors */
  --grey: hsl(0, 20%, 6%);
  --blue: hsl(199, 45%, 54%);
  /* Fonts */
  --font--main: 'Open Sans', sans-serif;
  --font-size--body: 1.4rem;
  /* Sizing */
  --spacing: 1.5rem;
  --inner: 90vw; /* Not set to 100% due to calc() issues */
  /* Grid */
  --columns: 1;
  --subgrid-items: 1fr;
  /* 
   * I'll use an example from this CSS to explain this.
   * *The values used in the explanation are at line 57.*
   * So at a min-width of 1240px (so there is padding around the
   * 1200px `--inner`) we have columns in the grid, or `--columns`.
   * We also have a grid spacing of 4rem (`--spacing`). If you
   * about how the grid will be displayed, the space consists of
   * 3columns + ((2columns-1)*spacing) (one space after each column
   * except the last one).
   * Note: 4rem = 40px due to styles in this CSS
   * (1200px - (4rem*(3-1)))/3  ~= 373.33px
   * If you inspect a grid item at that resolution it is exactly the
   * same width. Best part? ONE line of code for all resolutions, 
   * only the variables are updated in media queries as seen below.
   */
  --grid-item-height: calc((var(--inner) - (var(--spacing) * (var(--columns) - 1))) / var(--columns));
}

@media screen and (min-width: 600px) {
  :root {
    --font-size--body: 1.6rem;
    --spacing: 2rem;
    --columns: 2;
    --subgrid-items: 1fr 1fr;
  }
}

@media screen and (min-width: 980px) {
  :root {
    --inner: 960px;
    --font-size--body: 1.8rem;
    --spacing: 3rem;
    --columns: 3;
  }
}

@media screen and (min-width: 1240px) {
  :root {
    --inner: 1200px;
    --font-size--body: 2.1rem;
    --spacing: 4rem;
  }
}


/* Reset */

/* A must on all sites */
*, *:after, *:before { box-sizing: border-box }

/* Resets REMs to 10... e.g. 2.1rem = 21px */
html { font-size: 10px }

/* Personal preference */
html, body { margin: 0; padding: 0; }
a { text-decoration: none; color: var(--grey); }


/* General Styles */

body { 
  color: var(--grey); 
  font-size: var(--font-size--body); 
  font-family: var(--font--main);
}

h1, .h1 { margin-top: 0; }

/* Lists (for nav) */
ul { padding-left: 0; }
.list--plain { list-style: none; }

.inner { 
  margin: 0 auto;
  width: var(--inner);
}

header {
  background: var(--blue);
  padding: calc(var(--spacing) / 1.5) 0 calc(var(--spacing) / 2);
}

header svg { fill: #fff; }

.logo__wrapper { margin-right: auto; }

.inner--header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


main { padding: calc(var(--spacing) * 2) 0; }


footer {
  color: #fff;
  background: var(--grey);
  padding: var(--spacing) 0;
}

footer a,
footer span {
  color: #fff;
  margin-right: calc(var(--spacing) / 3);
}

.inner--footer {
  justify-content: space-between;
  flex-flow: column;
}

.inner--footer, 
.inner--footer > *, 
.inner--footer ul {
  display: flex;
  align-items: center;
}

.button {
  color: #fff;
  background: var(--blue);
  border-radius: calc(var(--font-size--body) / 2);
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
}

@media only screen and (min-width: 600px) {
  .inner--footer {
    flex-flow: row;
  }
}


/******************************************\
|**********    THE BODY GRID     **********|
\******************************************/

header { grid-area: header; }
footer { grid-area: footer; }
main   { grid-area: main;  }

body  {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
}

/******************************************\
|**********    THE CONTENT GRID    **********|
\******************************************/

.grid__wrapper {
  display: grid;
  grid-gap: var(--spacing);
  grid-template-columns: repeat(var(--columns), 1fr);
  margin-bottom: calc(var(--spacing) + 1rem);
}

.grid__item {
  background: rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: calc(var(--spacing) / 2);
  height: var(--grid-item-height);
}

.sub-grid__wrapper {
  display: grid;
  grid-gap: calc(var(--spacing) / 2);
  grid-template-rows: var(--subgrid-items);
  grid-template-columns: var(--subgrid-items);
}

.sub-grid__wrapper .grid__item {
  height: calc((var(--grid-item-height) - (var(--spacing) / 2)) / 2);
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans');